/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";  

body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("/assets/images/bg.gif");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


$button_size: 100px;

.button{
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */

    position: relative;
    color: black;
    background-color: transparent;
    height: $button_size;
    width: $button_size;
    margin: 5px auto;
    border-radius: 50%;
    
    
    img{
        width: $button_size;
        z-index: 2;
    }

    h1{
        position: absolute;
        font-size: 500%;
        top: 0px;
        left: 25%;
        color: white;
    }
}